
<div class="gallery-align">
    <div  class="filters-back">
        <div style="width: 100%; display: flex; justify-content: center;">
        </div>
        <div class="filters-align" style="width: 100%;">
            <div class="filters active-filter" style="color: white;" (click)="toggleTypemnagement(true)">კატეგორიები <i class="fas fa-edit"></i></div>
        </div>
        <div class="filters-align" style="width: 100%; margin-top: 10px;">
             <div class="filters" [ngClass]="{'active-filter': activeFilterNum == 0}" (click)="GetByCategorie(null)"   [attr.data-id]="0">ყველა</div>
            <div class="filters" [ngClass]="{'active-filter': activeFilterNum == i.id}"  *ngFor="let i of productTypesList" (click)="GetByCategorie(i.id)" >
                {{i.productType}}
            </div>
        </div> 
    </div>
    <div class="filters-align" style="margin-top: 20px;">
        <div class="post-filter" (click)="getActivePosts()" [ngClass]="{'active-post': !getPostsDto.IsDeleted}">
             აქტიური
             <b>{{posts[0]?.totalActiveProducts}}</b>
         </div>
         <div class="post-filter" (click)="getDeletedPosts()"[ngClass]="{'deleted-post': getPostsDto.IsDeleted}">
             დამალული
             <b >{{posts[0]?.totalDeletedProducts}}</b>
         </div>
     </div>
    <div class="photo-align">
        <div *ngIf="!getPostsDto.IsDeleted && getPostsDto.PageNumber==1" class="add-new-post" [routerLink]="AppRoutes.addPosts" >
            <i class="fas fa-plus-square"></i>
        </div>
        <ng-container *ngFor="let p of posts;let i = index" >
            <app-photo-album [posts]="p" class="album" [ngClass]="{'deleted':p.dateDeleted!=null}"></app-photo-album>
        </ng-container>
    </div>
</div>



<div class="center-pagenation" *ngIf="posts.length>0">
     <div class="pageination-align">
    <div class="buttons-align">
       <button class="next-button" type="button" (click)="changePage(selectedPage - 1)">
         <span class="btn-inner--icon">
           ◀
         </span>
       </button>
       <div class="page-numbers-align">
         <ng-container *ngFor="let p of [0,1,2,3,4]">
           <button *ngIf="(pageNumber + p) <= totalPages" class="pageination-buttons"
             [class.selected]="selectedPage === (pageNumber + p)" (click)="changePage(pageNumber + p)">
             {{ pageNumber + p }}
           </button>
         </ng-container>
       </div>
       <button class="next-button" type="button" (click)="changePage(selectedPage + 1)">
         <span class="btn-inner--icon">
          ▶
         </span>
       </button>
    </div>
</div>
</div>

<div class="delete-forever">
   
</div>



<div class="type-management-component " *ngIf="typeManagementVisible">
    <div class="type-management-background" (click)="toggleTypemnagement(false)"></div>
    <div class="type-management-align">
        <p style="width: 90%;">
           კატეგორიები
        </p>
        <div class="type-container flex-container">
            <input type="text" class="type-input" [(ngModel)]="AddType" maxlength="30">
            <p>{{AddType.length}}/30</p>
            <button class="delete accept"  (click)="insertProductTypes()"><i class="fas fa-plus" ></i></button>
        </div>
        <div class="type-container" *ngFor="let p of productTypesList">
            <p class="" style="color: white; text-wrap: nowrap;" *ngIf="TypeToeditNum != p.id">{{p.productType}}</p>
            <input type="text" class="type-input" [value]="p.productType"  *ngIf="TypeToeditNum == p.id" [(ngModel)]="TypeString">
            <div class="type-buttons-align">
                <button class="delete edit" (click)="openTypeToEdit(p.id)" *ngIf="TypeToeditNum != p.id" ><i class="fas fa-edit"></i></button>
                <button class="delete accept" (click)="editProductTypes()" *ngIf="TypeToeditNum == p.id"><i class="fas fa-check" ></i></button>
                <button class="delete"  *ngIf="TypeToeditNum == p.id" (click)="hideTypeToEdit()"><i class="fas fa-close"></i></button>
                <button class="delete"  *ngIf="TypeToeditNum != p.id"(click)="removeTypeCompletely(p.id)">წაშლა</button>
            </div>
         
        </div>
    </div>
</div> 