 .photo-container{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    position: relative;

    .discount-price-mobile {
        display: flex;
        gap: 6px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.726);
        color: white;
        padding: 1px 5px;
        border-radius: 5px;
        font-size: 13px;
        align-items: center;
        z-index: 12;
        .discounted-price {
            font-size: 10px;
            color: rgb(255, 89, 89);
            text-decoration:line-through;
            font-style:italic;
        }
   }
   .quantity-align{
        display: flex;
        gap: 6px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: rgba(0, 0, 0, 0.726);
        color: white;
        padding: 1px 5px;
        border-radius: 5px;
        font-size: 13px;
        align-items: center;
        z-index: 12;
        align-items: flex-end;
    }
    
    .low-quantity-back{
        color: rgb(255, 72, 72);
    }
    .quantit{
        font-size: 16px;
    }
    .low-quantity{
        color: rgb(255, 72, 72);
        font-weight: bolder;
    }
    .information-align{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        transition: 0.3s all ease-in-out;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.582);
        color: white;
    }
    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}
.deleted{
    .information-align{
        background-color: rgba(255, 0, 0, 0.325);
    }
    opacity: 1;
    .title{
        opacity: 1;
        transition: 0.3s all ease-in-out;
    }
}
.photo-container:hover .photo{
    scale: 1.1;
}
.photo-container:hover .information-align{
    opacity: 1;
}

@media screen and (max-width:1000px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}
@media screen and (max-width:1000px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                    .button{
                        scale: 0.8;
                    }
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}
@media screen and (max-width:600px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                    .button{
                        scale: 0.8;
                    }
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}